<section class="mx-4">
  <div class="grid align-items-center justify-content-center w-full my-5">
    <div class="col-2">
      <button pButton type="button" class="w-full justify-content-center text-center"
        (click)="showDialog()">Adicionar</button>
    </div>
    <div class="col-10">
      <app-searchbox (onSearch)="getAll($event)"></app-searchbox>
    </div>
  </div>

  <div class="box mx-1">
    <div class="grow grid">
      <p-table [value]="items" class="w-full">
        <ng-template pTemplate="header">
          <tr>
            <th class="col-2">#</th>
            <th class="col-4">Nome</th>
            <th class="col-2">Perfis ID</th>
            <th class="col-2">Editar</th>
            <th class="col-2">Excluir</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-p>
          <tr>
            <td>{{p.id}}</td>
            <td>{{p.nome}}</td>
            <td>{{p.perfis_id}}</td>
            <td>
              <button pButton pRipple type="button" icon="pi pi-pencil"
                class="p-button-rounded p-button-outlined p-button-warning" (click)="edit(p.id); showDialog()"></button>
            </td>
            <td>
              <button pButton pRipple type="button" icon="pi pi-trash"
                class="p-button-rounded p-button-danger p-button-outlined" (click)="delete(p.id)"></button>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </div>
</section>

<p-dialog [(visible)]="display" [transitionOptions]="'350ms'" [style]="{width: '30vw', height: '30em'}">
  <ng-template pTemplate="header">
    <h2> Dados cadastrais</h2>
  </ng-template>
  <div class="grid w-full">
    <div class="col-12">
      <form [formGroup]="formData" (ngSubmit)="saveData()">
        <span class="p-float-label">
          <input id="float-input" class="w-full" type="text" pInputText id="id" name="id" formControlName="id" placeholder="ID" />
          <label for="float-input">ID</label>
        </span>
        <span class="p-float-label my-4">
          <input id="float-input" class="w-full" type="text" pInputText id="nome" name="nome" formControlName="nome"
            placeholder="nome" />
          <label for="float-input">Nome</label>
        </span>
        <span class="p-float-label my-4">
          <input id="float-input" class="w-full" type="password" pInputText id="senha" name="senha" formControlName="senha"
            placeholder="nome" />
          <label for="float-input">Senha</label>
        </span>
        <span class="p-float-label mt-4">
          <input id="float-input" class="w-full" type="number" pInputText id="perfis_id" name="perfis_id" formControlName="perfis_id"
            placeholder="perfis_id" />
          <label for="float-input">Perfis ID</label>
        </span>
      </form>
    </div>
    <div class="col-12">
      <button type="button" pButton autofocus (click)="saveData()">Salvar</button>
    </div>
  </div>
</p-dialog>
